<!DOCTYPE html>
<html lang="en">

<head>
  <title>Event Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/event.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/header') %>
    <div class="eventsPage">
      <% if (isUserHost) { %>
        <div class="eventsPage__top__share">
          <h4 class="eventsPage__top__share__title">Please Share the Event!</h4>
          <p class="eventsPage__top__share__url">
          </p>
        </div>
        <% } %>
          <div class="eventsPage__top">
            <div class="eventsPage__top__left">
              <div class="eventsPage__top__left__eventDetails">
                <h1 class="eventsPage__top__left__eventDetails__title">
                  <%= event.title %>
                </h1>
                <p class="eventsPage__top__left__eventDetails__description">
                  <%= event.description %>
                </p>
                <div class="eventsPage__top__left__eventDetails__contact ">
                  <h3>Host Details</h3>
                  <div class="eventsPage__top__left__eventDetails__contact__itemContainer">
                    <div class="eventsPage__top__left__eventDetails__contact__item">
                      <%= event.hostname %>
                    </div>
                    <div class="eventsPage__top__left__eventDetails__contact__item">
                      <%= event.phone %>
                    </div>
                    <div class="eventsPage__top__left__eventDetails__contact__item">
                      <%= event.email %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="eventsPage__top__right">
              <div class="eventsPage__top__right__location">
                <h3 class="eventsPage__top__right__location__title">Event Details & RSVP</h3>
                <div class="eventsPage__top__right__location__details">
                  <% if(guest?.contact.name !== undefined) { %>
                    <p>Welcome back <%= guest.contact.name %></p>
                    <button type="button" id="edit">EDIT</button>
                    <% } %>
                      <form method="post" action="/user/create">
                        <% if(guest?.contact.name !== undefined) { %>
                        <div class="editForm">
                        <p>Name</p>
                        <input class="eventsPage__top__right__location__details__list" type="text" name="name"
                            placeholder=<%=guest.contact.name%> value=<%=guest.contact.name%>  />
                             <input class="eventsPage__top__right__location__details__list" type="hidden" name="eventId"
                            value=<%=event.id%> />
                            <input class="eventsPage__top__right__location__details__list" type="hidden" name='timeId'
                            value=<%=eventTimes[0].id%> />
                            <input class="eventsPage__top__right__location__details__list" type="hidden" name='email'
                            id="email" value=<%=guest.contact.email%> />
                          </div>
                          <% } %>
                        <% if (guest && guest?.contact.name === undefined) { %>
                          <p>Email </p>
                          <input class="eventsPage__top__right__location__details__list" type="text" name='email'
                            id="email" />
                          <p>Name</p>
                          <input class="eventsPage__top__right__location__details__list" type="text" name="name"
                            id="name" />
                            
                          <input class="eventsPage__top__right__location__details__list" type="hidden" name="eventId"
                            value=<%=event.id%> />
                          <input class="eventsPage__top__right__location__details__list" type="hidden" name="attending"
                            value="true" id="attending" />
                          <input class="eventsPage__top__right__location__details__list" type="hidden" name='timeId'
                            value=<%=eventTimes[0].id%> />
                          <button id="decline" formnovalidate>DECLINE</button>
                          <button>submit</button>
                          <% } else { %>
                          <button class="editForm">submit</button>

                            <ul class="eventsPage__top__right__location__details__list">
                              <li class="eventsPage__top__right__location__details__list__item">
                                <%= event.location%>
                              </li>
                              <% } %>
                            </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="eventsPage__bottom">

            <div class="eventsPage__bottom__left">

              <% for(const item of eventTimes) { %>
                <div class="eventsPage__bottom__left__timeChoice">
                  <% if (guest?.contact.name === undefined) { %>
                  <input class="eventsPage__bottom__timeChoice__checkbox" type="checkbox" name=<%=item.id %> />
                  <%} else {%>
                  <input class="editForm eventsPage__bottom__timeChoice__checkbox" type="checkbox" name=<%=item.id %> />
                    <p>At</p>
                    <% } %>
                  <% if(item.startDate===item.endDate) { %>
                    <div class="eventsPage__bottom__left__timeChoice__text">
                      <p>
                        <%= item.startDate %>
                      </p>
                      <p>from <%= item.startTime %> to <%= item.endTime %>
                      </p>

                    </div>
                    <% } else { %>
                      <div class="eventsPage__bottom__left__timeChoice__text">
                        <p>
                          <%= item.startDate %> at <%= item.startTime %> until <%= item.endDate %>
                        </p>

                      </div>
                      <% } %>
                        <% for(const guest of item.guests) { %>
                          <div class="eventsPage__bottom__left__timeChoice__guest">
                            <%= guest.name %>
                          </div>
                          <% } %>
                </div>
                <% } %>
                  </form>
            </div>
            <div class="eventsPage__bottom__right">
              <h4 class="eventsPage__bottom__right__title">Not Attending</h4>
              <% for(let noShow of noShows) { %>
                <p>
                  <%= noShow.name %>
                </p>
                <% } %>
            </div>
          </div>

          <script>
            $(document).ready(function () {
              $('.editForm').hide()
              $('#edit').on('click', () => {
              $('.editForm').show()

              })
              let name;
              let email;
              $('#decline').hide();

              $('#name').on('change', function () {
                name = $(this).val()
              })
              $('#email').on('change', function () {
                email = $(this).val()
              })
              $('#name, #email').on('change', function () {
                if (name && email) {
                  $('#decline').show();
                } else {
                  $('#decline').hide();
                }
              })
              $('#decline').on('click', () => {
                $('#attending').val(false)
              })
            })
          </script>
    </div>
</body>

</html>
