<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/event.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/header') %>
    <div class="eventsPage">
      <div class="eventsPage__top">
        <div class="eventsPage__top__left">
          <div class="eventsPage__top__left__eventDetails">
            <h1 class="eventsPage__top__left__eventDetails__title">
              <%= event.title %>
            </h1>
            <p class="eventsPage__top__left__eventDetails__description">
              <%= event.description %>
            </p>
            <div class="eventsPage__top__left__eventDetails__contact ">
              <h3>Host Details</h3>
              <div class="eventsPage__top__left__eventDetails__contact__item">
                <%= event.hostname %>
              </div>
              <div class="eventsPage__top__left__eventDetails__contact__item">
                <%= event.phone %>
              </div>
              <div class="eventsPage__top__left__eventDetails__contact__item">
                <%= event.email %>
              </div>
            </div>
          </div>
        </div>
        <div class="eventsPage__top__right">
          <div class="eventsPage__top__right__location">
            <h4 class="eventsPage__top__right__location__title">Event Details & RSVP</h4>
            <div class="eventsPage__top__right__location__details">
              <form method="POST" action="/user/create">
                <% if(guest.contact && guest.contact.name===undefined) { %>
                  <p>Email </p>
                  <input type="text" name='email' />
                  <p>Name</p>
                  <input type="text" name="name" />
                  <input type="hidden" name="eventId" value=<%=event.id%> />
                  <button>submit</button>
                  <% } else { %>
                    <ul class="eventsPage__top__right__location__details__list">
                      <li class="eventsPage__top__right__location__details__list__item">
                        <%= event.address %>
                      </li>
                      <li class="eventsPage__top__right__location__details__list__item">
                        <%= event.city %>
                      </li>
                      <li class="eventsPage__top__right__location__details__list__item">
                        <%= event.province %>
                      </li>
                      <li class="eventsPage__top__right__location__details__list__item">
                        <%= event.post_code %> -->
                          <% } %>
                      </li>
                    </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="eventsPage__bottom">
        <% for(const item of eventTimes) { %>
          <div class="timeChoice">
            <input type="checkbox" name=<%=item.id %> >
            <% if (item.startDate===item.endDate) { %>
              <p>on <%= item.startDate %>
              </p>
              <p>from <%= item.startTime %> to <%= item.endTime %>
              </p>
              <% } else { %>
                <p>on <%= item.startDate %> at <%= item.startTime %> until <%= item.endDate %> at <%= item.endTime %>
                </p>

                <% } %>
          </div>
          <% } %>
            </form>

      </div>
      <script>
        $(document).ready(function () {

        })
      </script>
    </div>
</body>
<script>
  // $(document).ready(function() {
  //   console.log(eventTimes)
  // })
</script>

</html>
